@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/* GLOBAL - STYLES - START */
.wrapper {
  min-height: 100%;
  width: 100%;
  background-color: #09101E;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* GLOBAL - STYLES - END */
/*HEADER - START*/
.header {
  padding: 20px 0;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 80px;
}
.header__link:not(:last-child) {
  margin-right: 40px;
}
.header__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.header__link:hover {
  color: #5BD0F4;
}
.header__btn {
  padding: 15px 30px;
  background-color: #3A68B8;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.header__btn:hover {
  background-color: transparent;
  border-color: #5BD0F4;
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  width: 40%;
}
.header__content {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
}
.header__content_text {
  text-transform: uppercase;
  color: #3A68B8;
  margin-bottom: 10px;
}
.header__content-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 40px;
  font-size: 40px;
}
@media (max-width: 1160px) {
  .header__content-title {
    font-size: calc(
                20px + 20 *
                ((100vw - 320px) / 840)
            );
  }
}
.header__content_desc {
  font-family: "Open Sans";
  font-style: normal;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 30px;
}
.header__content .one {
  margin-right: 15px;
}
.header__content_btn {
  padding: 15px 30px;
  background-color: #3A68B8;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.header__right {
  width: 50%;
}
.header__main_image {
  width: 90%;
  margin-bottom: 95px;
}
.header__main_image img {
  width: 100%;
}
.header__logotips {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.header__logo-one {
  width: 20%;
}
.header__logo-one img {
  width: 90%;
}

/*HEADER - END*/
/* MAIN - START */
.main {
  background-color: #020A18;
  flex: 1 1 auto;
}

.about__technology_left {
  width: 45%;
}
.about__technology-img {
  width: 90%;
  margin-bottom: 170px;
}
.about__technology-img img {
  padding-top: 100px;
  width: 100%;
}
.about__technology_right {
  width: 40%;
}
.about__technology-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__technology_title {
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 30px;
  font-size: 35px;
}
@media (max-width: 1160px) {
  .about__technology_title {
    font-size: calc(
                20px + 15 *
                ((100vw - 320px) / 840)
            );
  }
}
.about__technology_desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 60px;
}

.about__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}
.about__card-one {
  width: 20%;
  height: 350px;
  background-color: #0F1724;
  border-radius: 10px;
  text-align: center;
  padding: 20px 20px;
  color: #FFFFFF;
  opacity: 0.7;
}
.about__card-one:not(:last-child) {
  margin-right: 20px;
}
.about__card-one img {
  padding-top: 30px;
}
.about__card-one-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  margin-bottom: 20px;
}
.about__card-one-desc {
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  font-size: 12px;
}
@media (max-width: 1160px) {
  .about__card-one-desc {
    font-size: calc(
                8px + 4 *
                ((100vw - 320px) / 840)
            );
  }
}
.about__clients_row {
  display: flex;
  align-items: unset;
  justify-content: space-around;
}
.about__clients_left {
  width: 48%;
}
.about__clients_right {
  width: 50%;
  margin-bottom: 170px;
}
.about__clients-img {
  width: 80%;
}
.about__clients-img img {
  width: 100%;
}
.about__clients_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.about__clients_desc {
  width: 80%;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 10px;
}

/* MAIN - END */
/* FOOTER - START */
.footer {
  background-color: #09101E;
}
.footer__block_desc {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.6;
  line-height: 30px;
}
.footer__blocks {
  width: 100%;
  padding-top: 70px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__blocks .span {
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  color: #FFFFFF;
}
.footer__block-one {
  width: 25%;
}
.footer__block-two, .footer__block-three {
  width: 17%;
  padding-top: 45px;
}
.footer__block-four {
  width: 22%;
  padding-top: 80px;
}
.footer__block-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer .block-bottom {
  margin-bottom: 10px;
}
.footer .two, .footer__block_icons {
  margin-bottom: 20px;
}
.footer__block_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__block_language {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.footer__block_language img:first-child {
  margin-right: 10px;
}
.footer__block_language img:last-child {
  margin-left: 10px;
}

/* FOOTER - END *//*# sourceMappingURL=main.css.map */